html, body {
    padding: 0;
    margin: 0;
    font-family: "DejaVu Sans", monospace;
    background-color: #728c8b;
    width: 99%;
}

.ss_wrapper {
    margin: 150px 0 0 0;
    padding: 0;
    display: block;
    width: 100%;
    min-height: 80vh;
}

.ss-block-name-title {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.ss-name-title {
    font-size: 1.75rem;
    font-weight: normal;
}

.ss-block-body {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ss-button-block {
    width: 100%;
}

.ss-button {
    padding: 5px 10px;
    border: 1px solid gray;
    background-color: #c4c4ef;
    color: #666464;
    font-size: 0.75rem;
    font-weight: 600;
    max-width: 25%;
    cursor: pointer;
    float: right;
    margin-right: 10px;
}

.ss-button:hover {
    border-color: #696868;
    background-color: #b4b4ec;
    color: #403e3e;
}

.ss-button:active {
    border-color: #626161;
    background-color: #8686ac;
    color: #ded7d7;
}

textarea {
    padding: 10px 20px;
}