{% extends 'base.html.twig' %}

{% block title %}Hello ServiceSettingsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="ss_wrapper">
    {% for service_name, settingElement in services_settings %}
        {{ include('service_settings/part/title.html.twig', {name: service_name}) }}
        {{ include('service_settings/part/body.html.twig', {name: service_name, body: settingElement }) }}
    {% endfor %}
</div>
{% endblock %}
